@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h2 class="display-4">Add songs to the playlist</h2>
        <div>
            <form asp-controller="home" asp-action="GetAuthorisationCode">
                <button class="btn btn-primary" value="hello" text="submit" formaction="home/GetAuthorisationCode">Authorise Jukebox to access your spotify</button>
            </form>
        </div>
        
        @if (ViewBag.Message != null && ViewBag.Message != string.Empty)
        {
            <div class="btn btn-success ">@ViewBag.Message</div>
        }
    <form asp-controller="home" asp-action="Search">
        <input type="text" name="name" placeholder="Song name" />
        <input type="text" name="playlistId" placeholder="Playlist Id" />

        <button class="btn btn-primary" value="hello" text="submit">Search</button>
    </form>
    </div>


